@charset "UTF-8";
/*rotacion del logo por dos segundos*/
.banner img:hover {
  transform: rotate(360deg);
  transition: transform 2s; }

/*tarjetas de los libros se aclaran cuando se pasa sobre ellos*/
.container .tarjeta_libro:hover {
  transform: scale(1.05, 1.05);
  transition: transform 0.1s; }

.container .overflow {
  overflow: hidden; }

/*pequeña animacion que descubre el titulo*/
.titular h2 {
  animation-duration: 3s;
  animation-name: mostrar_titulo;
  animation-iteration-count: infinite;
  width: 0%;
  overflow: hidden; }

@keyframes mostrar_titulo {
  0% {
    opacity: 0; }
  25% {
    width: 10%; }
  50% {
    width: 50%; }
  75% {
    width: 75%; }
  100% {
    opacity: 1;
    width: 100%; } }

/*aplicacion de media queries*/
/* PALETA DE COLORES*/
/*  BODY */
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* clase para la section novedades */
.novedadesFondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/libros.jpg"); }
  .novedadesFondo .novedadesHero h1 {
    color: #e6ccb2; }
  .novedadesFondo .novedadesHero h2 {
    color: #9c6644; }
  .novedadesFondo .novedadesHero p {
    color: #e6ccb2;
    font-size: 1.25em; }
  .novedadesFondo .novedadesImgNews {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("https://source.unsplash.com/_Zua2hyvTBk/600x400");
    height: 15em;
    border-radius: 1%; }
  .novedadesFondo .novedadesImgPago {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("https://source.unsplash.com/s8F8yglbpjo/600x400");
    height: 15em;
    border-radius: 1%; }
  .novedadesFondo .novedadesImgDelivery {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("https://source.unsplash.com/phUtWl8RyFE/600x400");
    height: 15em;
    border-radius: 1%; }

/*Seccion frases*/
.frases {
  height: 11em;
  background: linear-gradient(to bottom, #9c6644, #7f5539);
  overflow: hidden; }
  .frases p {
    color: #e6ccb2; }
  .frases .footerCita {
    color: #b9b2a4; }

/*seccion razones para leer*/
.razonesLectura .fondorazonesLectura {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("https://source.unsplash.com/v8DSLoY80Xk/600x400"); }

.razonesLectura h3 {
  color: #ede0d4; }

.razonesLectura p {
  color: #e6ccb2; }

.fondoSelf {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("https://source.unsplash.com/IuLgi9PWETU/600x400"); }

.imgFondo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("books"); }

#imgRandom {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("black"); }

footer {
  background-color: #6d6875;
  height: 5em; }
