/*Paleta de colores*/
.color1 {
  color: #222831;
}

.color2 {
  color: #00adb5;
}

.color3 {
  color: #393e46;
}

.color4 {
  color: #eeeeee;
}
.color5 {
  color: #291b00;
}



/* fuente global */
* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

/* estilo al banner */
.banner {
  background-image: linear-gradient( #07090a, #393e46);
  height: 5em;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.banner .logoContainer {
  margin-left: 1em;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
}
.busqueda{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  height: 4em;
  width: 4em;
  background-color: #00adb5;
  border-radius: 5em;
}

.banner .usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  width: 100%;
}

/* estilo y clase para el navbar */

.navbarMenu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5em;
  background-image: linear-gradient( #393e46,#252017);

}

.navbar li {
  height: 100%;
  width: 100%;
  display: flex;
}

.navbar li a {
  display: flex;
  text-decoration: none;
  font-weight: 600;
  width: 100%;
  color: #eeeeee;
  align-items: center;
  justify-content: center;
}

/* clase para la section novedades */
.novedades {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url('../img/libros.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  height: 20em;
}

.novedades ul {
  list-style-position: outside;
  list-style-type: circle;
}

.novedades .titular {
  width: 50%;
  padding: 1em 2em;
  color: wheat
}

.novedades .titular h2 {
  font-style: italic;
  font-size: 2em;
  padding-bottom: 0.70em;
}

.novedades .titular h3 {
  font-size: 1.5em;
  padding-bottom: 0.35em;
}

.novedades .titular p {
  line-height: 2em;
}

/*contenedor de las tarjetas de los libros y sus puntuaciones*/
/*estilos para los libros e imagenes*/
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #291b00;
  color: white;
}


.tarjeta_libro {
  width: 15em;
  margin: 0.25em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 0.5em;
  margin: 0.25em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.13);
}
 img {
  width: 10em;
}


/*---------ESTILOS FLEXBOX SECCION CATEGORIAS-------*/

.categorias {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url('../img/libros.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  height: 80em;
}

.categoriasTags {
  width: 15%;

}

.categoriasTags ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  list-style-type: none;
  height: 30%;
}

.categoriasLibros {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.categoriasLibrosTarjeta h4 {
  padding: 0.5em;
}

.categoriasLibros img {
  width: 100%;
  padding-bottom: 0.1em;
}


/* estilos para el formulario de Newsletter

.formNewsletter {
  background-color: lightblue;
  width: 500px;
  padding: 1em;
  
}
.formNewsletter .inputForm{
  display: inline-block;
  margin: 0.5em 0em;
}
.formNewsletter .bottonForm{
  display: inline-block;
  margin: 0.5em 0em;
}
*/

/*----------GRID PARA LA SECCION SOBRE MI/ ABOUT------------*/
.gridAbout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas:
    "Imagen Imagen"
    "Info1 Aside"
    "Video Aside"
    "Info1V Info2V";
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url('../img/libros.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 90vh;
  align-content: flex-start;
}

.gridAboutImagen {
  grid-area: Imagen;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/083/760/non_2x/diverse-cartoon-people-background-vector.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.gridAboutInfo {
  grid-area: Info1;
  overflow: hidden;
  justify-self: flex-start;
  padding-left: 1em;
  background-color: rgba(255, 255, 255, 0.13);
}

.gridAboutAside {
  grid-area: Aside;
  background-color: rgba(255, 255, 255, 0.13);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  height: 100%;
}

.gridAboutAside p {
  padding: 1em;
}

.gridAboutVideo {
  grid-area: Video;
  align-self: center;
  justify-self: center;
  width:100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.13);
}

.gridAboutInfoVideo1 {
  grid-area: Info1V;
  justify-self: end;
  background-color: rgba(255, 255, 255, 0.13);
  width: 150px;
  transition: width 2s;
}

.gridAboutInfoVideo2 {
  grid-area: Info2V;
  justify-self: start;
  background-color: rgba(255, 255, 255, 0.13);
  width: 150px;

}

/* estilo para el pie de pagina */
footer {
  background-image: linear-gradient(to bottom, #3f2b25 , #7a6b5b);
  text-align: center;
  padding: 1em;
}