@charset "UTF-8";
/*  global */
/*rotacion del logo por dos segundos*/
.banner img:hover {
  transform: rotate(360deg);
  transition: transform 2s; }

/*tarjetas de los libros se aclaran cuando se pasa sobre ellos*/
.container .tarjeta_libro:hover {
  transform: scale(1.05, 1.05);
  transition: transform 0.1s; }

/*pequeña animacion que descubre el titulo*/
.titular h2 {
  animation-duration: 3s;
  animation-name: mostrar_titulo;
  animation-iteration-count: infinite;
  width: 0%;
  overflow: hidden; }

@keyframes mostrar_titulo {
  0% {
    opacity: 0; }
  25% {
    width: 10%; }
  50% {
    width: 50%; }
  75% {
    width: 75%; }
  100% {
    opacity: 1;
    width: 100%; } }

/*aplicacion de media queries*/
* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.img-end {
  display: flex;
  justify-content: end; }

.heroNovedades h1 {
  color: wheat; }

.fondoObscuro, .fondoSelf, .imgFondo, #imgRandom, .novedades, .razonesLectura {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.fondoSelf {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(53, 51, 51, 0.1)), url("https://source.unsplash.com/1280x720/?self"); }

.imgFondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(53, 51, 51, 0.1)), url("https://source.unsplash.com/1280x720/?books"); }

#imgRandom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(53, 51, 51, 0.1)), url("https://source.unsplash.com/1280x720/?black"); }

/*Seccion frases*/
.frases {
  height: 11em;
  background: linear-gradient(to right, #a58e56, #49390b);
  overflow: hidden; }
  .frases p {
    color: wheat; }

.footerCita {
  color: #b9b2a4; }

/* clase para la section novedades */
.novedades {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/libros.jpg"); }

/*seccion razones para leer*/
.razonesLectura {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/libreria.jpg"); }

#tarjetaBlog-violeta p {
  color: #6139bd; }

#tarjetaBlog-rojizo p {
  color: #a02c66; }

#tarjetaBlog-verde_manzana p {
  color: #1d8f72; }

footer {
  background-color: #222831;
  color: #eeeeee;
  height: 5em; }
