
.banner img:hover {
    transform: rotate(360deg);
    transition: transform 2s;
}

.navbar li :hover {
    text-decoration: none;
    font-weight: 600;
    color: #eeeeee;
    background-color: #00adb5;
    border-radius: 0.5em;
}
.container .tarjeta_libro:hover {
    background: linear-gradient(70deg, rgb(37, 31, 31), rgb(214, 166, 166));}