@import "transitions.scss";
@import "mediaqueries.scss";

/* PALETA DE COLORES*/

$gris_obscuro : #6d6875;
$marron_obscuro : #7f5539;
$marron_claro : #9c6644;
$marron_acuarela : #b99f8e;
$madera : #e6ccb2;
$beige : #ede0d4;

/*  BODY */
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin imagen($url) {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.8)), url($url);
    
}

/* clase para la section novedades */
.novedadesFondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.7)), url('../img/libros.jpg');

    .novedadesHero {
        h1 {
            color: $madera;
        }

        h2 {
            color: $marron_claro;
        }

        p {
            color: $madera;
            font-size: 1.25em;
        }
        
    }

    .novedadesImgNews {
        @include imagen('https://source.unsplash.com/_Zua2hyvTBk/600x400');
        height: 15em;
        border-radius: 1%;
    }

    .novedadesImgPago {
        @include imagen('https://source.unsplash.com/s8F8yglbpjo/600x400');
        height: 15em;
        border-radius: 1%;
    }

    .novedadesImgDelivery {
        @include imagen('https://source.unsplash.com/phUtWl8RyFE/600x400');
        height: 15em;
        border-radius: 1%;
    }
}

/*Seccion frases*/
.frases {
    height: 11em;
    background: linear-gradient(to bottom, $marron_claro, $marron_obscuro);
    overflow: hidden;

    p {
        color: $madera;
    }

    .footerCita {
        color: rgb(185, 178, 164);
    }
}

/*seccion razones para leer*/
.razonesLectura {
    .fondorazonesLectura {
        @include imagen('https://source.unsplash.com/v8DSLoY80Xk/600x400');
    }
    h3{
        color: $beige
    }
    p{
        color: $madera
    }
}



.fondoSelf {
    @include imagen('https://source.unsplash.com/IuLgi9PWETU/600x400');
}

.imgFondo {
    @include imagen('books');

}

#imgRandom {
    @include imagen('black');


}




footer {
    background-color: $gris_obscuro;
    height: 5em;
}